.header {
    position: absolute;
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
}

.header-left {
    position: absolute;
    margin: 7px 0 0 10px;
}

.header-right {
    float: right;
    margin: 7px 15px 0 0;
}